.btn.active.sim
{
    background-color: #50992c61 !important;
}

.btn.active.nao
{
    background-color: #c1191985 !important;
}

.panel-primary {
    border-color: #e6e7e8 !important;
}

.fluig-style-guide .panel-primary>.panel-heading {
    color: #fff;
    border-color: #0891b5 !important;
    background-color: #0891b5 !important;
}
