.btn.active.sim
{
    background-color: #50992c61 !important;
}

.btn.active.nao
{
    background-color: #c1191985 !important;
}

.panel-primary {
    border-color: #e6e7e8 !important;
}

.fluig-style-guide .panel-primary>.panel-heading {
    color: #fff;
    border-color: #0891b5 !important;
    background-color: #0891b5 !important;
}

.img-aprov{
    width: 32px;
    height: 32px;
}

form.MOD SPAN.form-control[name^='_']{
    color: #a7a9ac;
    height: 34px;
    padding: 6px 12px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}